


{{#each stories}}
	<h1>{{title}}</h3>
	{{#each questions}}
			
			<h3> {{index}} : {{text}} </h3>
			<h4> yes: {{yes}}</h4>
			<h4> no: {{no}} </h4>

			<br>
			<br>
			<br>

	{{/each}}
	
{{/each}}