<!doctype html>
<html lang="en">
<head>
	{{> meta-default-partial}}
	<title>{{title}}</title>

	<link rel="stylesheet" href="/css/newsItem.css">
	<!--Slider CSS-->
	<!-- <link rel="stylesheet" href="/css/slider.css"> -->
</head>

<body>
	<div class="container">
			<div class="hiddenText" id="uniqueID" v="{{uniqueID}}"></div>
			<h3 class="newsTitle"><a href="{{link}}">{{title}}</a></h3>
			<div class="border {{type}}"></div>
	
			<div class="info">
				<!-- <p class="summary">{{summary}}</p> -->

				<div class="details">
					<ul class="list-unstyled">
						{{#each details}}
							<li class="detail">{{text}}</li>
						{{/each}}
					</ul>
				</div>
				
				<h5 class="questionTitle">Questions</h5>
				<ul class="questions list-unstyled">
					{{#each questions}}
						<li class="question"><span>{{index}}</span> {{text}}</li>
						<div class="buttons">
							<div class="yes" qsNumber="{{index}}"><span class="optionText"><span class="glyphicon glyphicon-thumbs-up"></span></span></div>
							<div class="no" qsNumber="{{index}}"><span class="optionText"><span class="glyphicon glyphicon-thumbs-down"></span></span></div>
						</div>
							
					{{/each}}
				</ul>
			</div>

			<div class="addQuestion">
				<a class="questionAdd" href="/add/{{uniqueID}}"><h3><span class="glyphicon glyphicon-plus"></span> Add a question to this topic</h3></a>
			</div>

	</div>	
	
	{{>scripts}}
	<script src="/js/newsItem.js"></script>
	
</body>
</html>