<!doctype html>
<html lang="en">
<head>
	{{> meta-default-partial}}
	<title>{{title}}</title>

	<link rel="stylesheet" href="/css/newsItem.css">
</head>

<body>
	

</body>
</html>


{{title}} <br>
{{type}} <br>
{{link}} <br>
{{summary}} <br>


{{#each details}}
	{{text}} <br>
{{/each}}
